#nav-bar {
	background-color: green;
}
#body{
	background-color: black;
}
#p2 {
	background-color: blue;
}
#p3 {
	background-color: yellow;
}
#p4 {
	background-color: purple;
}
#p5 {
	background-color: purple;
}
#p6 {
	background-color: purple;
}
#p7 {
	background-color: white;
}